ls


/* ESTILOS */
h1{
    text-align: center;
    margin: 15px 0 14px;
}

/* CONTEÚDO */
.container{
    width: 1136px;
    margin: 0 auto;
}
.banner-principal{margin-bottom: 96px;}
.banner-principal img, .banner-footer img{width: 100%;}
.artigo{
    display: flex;
    padding-bottom: 96px;
}
.artigo h2{
    font: 700 48px Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    width: 80%;
}
.artigo1 h2{margin: 32px 0px 16px 0}
.artigo1 figure{margin-right: 48px;}
.artigo p{
    color: #4D4D4D;
    line-height: 24px;
    letter-spacing: 0.04em;
    width: 67%;
}
.artigo2{
    padding-left:48px;
}
.artigo2 article p{
    width: 65%;
}

/* CONHEÇA */
.conheca{
  margin-bottom: 96px;
}
.conheca section{
  display: flex;
  margin: 0 88px;
  text-align: center;
  justify-content: space-around;
}
.conheca h3{
  text-align: center;
  font: 400 40px Arial, Helvetica, sans-serif;
  padding: 32px 0;
  line-height: 54px;
}
.conheca p{
  margin-top: 16px;
  line-height: 24px;
}
.conheca strong{
  display: block;
}
.conheca a{
  text-decoration: underline;
  color: #FF651A;
}

/* RECEITAS */
/* RECEITA 1 */
.receita1{
  background: #F4DCC3;
}
.receitas .container > article{
  display: flex;
  padding-bottom: 40px;
}
.receitas article > article{
  padding: 32px 48px;
}
.receitas h2{
  padding-bottom: 14px;
  font: 700 40px Arial, Helvetica, sans-serif;
}
.receitas p{
  color: #4d4d4d;
  line-height: 24px;
  padding-bottom: 24px;
  width: 82%;
  letter-spacing: 0.04em;
}
.bold{
  font-weight: 700;
}
.receitas h3{
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 32px 0;
}
.youtube{
  display: flex;
  padding-top: 24px;
}
.youtube article{
  padding: 48px;
}
.youtube p{
  line-height: 24px;
  width: 80%;
}
.receita1, .receita2{
  padding: 40px 0 80px;
}
/* RECEITA 2 */
.receita2{
  background: #E8E7C1;
}

/* LOJA */
.loja{
  padding-top: 96px;
}
.artigo-loja{
  padding: 96px 0;
}
.artigo-loja section{
  display: flex;
  padding-top: 24px;
}
.artigo-loja section article{
  padding: 81px 0;
}
.artigo-loja section article > h2{
  padding-bottom: 32px;
  font: 700 40px/48px Arial, Helvetica, sans-serif
}
.artigo-loja p{
  width: 82%;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: #4d4d4d;
}
.artigo-loja section > figure{
  margin-left: 64px;
}

/* LOJA ITENS */
.loja-itens{
  display: flex;
  justify-content: space-around;
  padding-bottom: 96px;
}
.loja-itens h2{
  padding: 16px 8px 11px;
  font: 16px/24px Arial, Helvetica, sans-serif;
  letter-spacing: 0.04em;
  width: 240px;
}
.loja-itens a{
  padding: 16px 78px;
  background: #FF8723;
  text-transform: uppercase;
  display: flex;
  font: 700 12px Arial, Helvetica, sans-serif;
  width: 256px;
}
.loja-itens a:hover{
  background: #fd6113;
}
.loja-itens a > img{
  padding-left: 5px;
}
.preco{
  padding: 0 8px 12px;
}
.preco section{
  align-items: center;
  text-transform: uppercase;
}
.preco section p{
  padding: 4px 8px;
  background: #333333;
  border: 1px solid #333333;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
}
.preco h3{
  padding-right: 60px;
  font: 700 24px Arial, Helvetica, sans-serif;
  color: #662100;
}
.preco img{
  padding-left: 60px;
  justify-content: baseline;
}
.preco section{
  display: flex;
}
.preco p{
  font-size: 12px;
  letter-spacing: 0.04em;
  padding: 4px 0px;
}
.preco p:first-child{
  text-decoration: line-through;
  color: #4D4D4D;
}